<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{/layout}">

<head>
	<title>JavaStore</title>
</head>

<body>

	<section class="layout-content" layout:fragment="corpo">

		<!-- PAGE CONTENT WRAPPER -->
		<div class="page-content-wrap">

			<div class="row">
				<div class="container px-4 px-lg-5 mt-5">

					<div class="py-5">
						<div class="container mb-4">
							<div class="row">
								<div class="col-6">
									<h2>Efetue seu cadastro</h2>
								</div>
								<div class="col-6">
									<h2>Login</h2>
								</div>
								<div class="col-6">
									<form action="/cliente/salvar" th:object="${cliente}" method="POST">
										<div class="form-row">

											<div class="form-group col-md-12">
												<label for="nome">Nome</label>
												<input type="text" class="form-control" id="nome"
													placeholder="Nome do Cliente" autofocus="autofocus"
													th:field="*{nome}" value="" />
												<div class="invalid-feedback"></div>
											</div>

											<div class="form-group col-md-6">
												<label for="cpf">CPF</label>
												<input type="text" class="form-control" id="cpf"
													placeholder="CPF do Cliente" autofocus="autofocus" th:field="*{cpf}"
													value="" />
												<div class="invalid-feedback"></div>
											</div>

											<div class="form-group col-md-6">
												<label for="cidade">Cidade</label>
												<select th:field="*{cidade}" class="form-control">
													<option th:each="cid: ${listaCidades}" th:value="${cid.id}"
														th:text="${cid.nome}"></option>
												</select>
												<div class="invalid-feedback"></div>
											</div>

											<div class="form-group col-md-6">
												<label for="email">Email</label>
												<input type="text" class="form-control" id="email" placeholder="E-mail"
													autofocus="autofocus" th:field="*{email}" value="" />
												<div class="invalid-feedback"></div>
											</div>

											<div class="form-group col-md-6">
												<label for="senha">Senha</label>
												<input type="password" class="form-control" id="senha"
													autofocus="autofocus" th:field="*{senha}" value="" />
												<div class="invalid-feedback"></div>
											</div>
										</div>

										<input type="hidden" id="id" th:field="*{id}" value="" />

										<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
									</form>
								</div>
								<div class="col-6">
									<form action="/finalizar/login" method="POST">
										<div class="form-row">
											<div class="form-group col-md-12">
												<label>Email</label>
												<input type="text" class="form-control" name="username"
													placeholder="E-mail" autofocus="autofocus" value="" />
												<div class="invalid-feedback"></div>
											</div>

											<div class="form-group col-md-12">
												<label>Senha</label>
												<input type="password" class="form-control" name="password"
													autofocus="autofocus" value="" />
												<div class="invalid-feedback"></div>
											</div>
										</div>

										<button type="submit" class="btn btn-primary btn-sm">Efetuar Login</button>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div><!-- END PAGE CONTENT WRAPPER -->
	</section>

</body>

</html>