<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{/layout}">

<head>
	<title>JavaStore</title>
</head>

<body>

	<section class="layout-content" layout:fragment="corpo">










		<!-- START CONTENT FRAME -->
		<div class="content-frame">

			<!-- START CONTENT FRAME TOP -->
			<div class="content-frame-top">
				<div class="page-title">
					<h2><span class="fa fa-image"></span> Gallery</h2>
				</div>
				<div class="pull-right">
					<button class="btn btn-dark"><span class="fa fa-upload"></span> Upload</button>
					<button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
				</div>
			</div>

			<!-- START CONTENT FRAME RIGHT -->
			<div class="content-frame-right">
				<div class="block push-up-10">
					<form action="upload.php" class="dropzone dropzone-mini"></form>
				</div>
				<h4>Groups:</h4>
				<div class="list-group border-bottom push-down-20">
					<a href="#" class="list-group-item active">All <span class="badge badge-primary">12</span></a>
					<a href="#" class="list-group-item">Nature <span class="badge badge-success">7</span></a>
					<a href="#" class="list-group-item">Music <span class="badge badge-danger">3</span></a>
					<a href="#" class="list-group-item">Space <span class="badge badge-info">2</span></a>
					<a href="#" class="list-group-item">Girls <span class="badge badge-warning">3</span></a>
				</div>
				<h4>Tags:</h4>
				<ul class="list-tags">
					<li><a href="#"><span class="fa fa-tag"></span> amet</a></li>
					<li><a href="#"><span class="fa fa-tag"></span> rutrum</a></li>
					<li><a href="#"><span class="fa fa-tag"></span> nunc</a></li>
					<li><a href="#"><span class="fa fa-tag"></span> tempor</a></li>
					<li><a href="#"><span class="fa fa-tag"></span> eros</a></li>
					<li><a href="#"><span class="fa fa-tag"></span> suspendisse</a></li>
					<li><a href="#"><span class="fa fa-tag"></span> dolor</a></li>
				</ul>
			</div>
			<!-- END CONTENT FRAME RIGHT -->

			<!-- START CONTENT FRAME BODY -->
			<div class="content-frame-body content-frame-body-left">

				<div class="pull-left push-up-10">
					<button class="btn btn-dark" id="gallery-toggle-items">Toggle All</button>
				</div>
				<div class="pull-right push-up-10">
					<div class="btn-group">
						<button class="btn btn-dark"><span class="fa fa-pencil"></span> Edit</button>
						<button class="btn btn-dark"><span class="fa fa-trash-o"></span> Delete</button>
					</div>
				</div>

				<div class="gallery" id="links">
					<td th:each="produto : ${listaProdutos}">
						<a class="gallery-item" th:href="@{/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}"
							th:title="${produto.titulo}" data-gallery>
							<div class="image">
								<img th:src="@{/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}" th:alt="${produto.titulo}" />
								<ul class="gallery-item-controls">
									<li><label class="check"><input type="checkbox" class="icheckbox" /></label></li>
									<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
								</ul>
							</div>
							<div class="meta">
								<strong th:text="${produto.titulo}"></strong>
								<span th:text="${produto.descricao}"></span>
							</div>
						</a>
					</td>
				</div>

				<ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
					<li class="disabled"><a href="#">«</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">»</a></li>
				</ul>
			</div>
			<!-- END CONTENT FRAME BODY -->
		</div>
		<!-- END CONTENT FRAME -->




		<!-- BLUEIMP GALLERY -->
		<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
			<div class="slides"></div>
			<h3 class="title"></h3>
			<a class="prev">‹</a>
			<a class="next">›</a>
			<a class="close">×</a>
			<a class="play-pause"></a>
			<ol class="indicator"></ol>
		</div>
		<!-- END BLUEIMP GALLERY -->



    <!-- START SCRIPTS -->        
        <script type="text/javascript" src="/atlant-varius/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
        <script type="text/javascript" src="/atlant-varius/js/plugins/dropzone/dropzone.min.js"></script>
        <script type="text/javascript" src="/atlant-varius/js/plugins/icheck/icheck.min.js"></script>
        <!-- END THIS PAGE PLUGINS-->        

        <script>            
            document.getElementById('links').onclick = function (event) {
                event = event || window.event;
                var target = event.target || event.srcElement;
                var link = target.src ? target.parentNode : target;
                var options = {index: link, event: event,onclosed: function(){
                        setTimeout(function(){
                            $("body").css("overflow","");
                        },200);                        
                    }};
                var links = this.getElementsByTagName('a');
                blueimp.Gallery(links, options);
            };
        </script>    

	</section>

</body>

</html>