<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{/layout}">

<head>
	<title>JavaStore</title>
</head>

<body>

	<section class="layout-content" layout:fragment="corpo">

		<!-- PAGE CONTENT WRAPPER -->
		<div class="page-content-wrap">

			<div class="row">
				<div class="container px-4 px-lg-5 mt-5">

					<div class="col-md-4" th:each="produto : ${listaProdutos}">

						<!-- START SALES & EVENTS BLOCK -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title-box">
									<h3 th:text="${produto.titulo}"></h3>
									<span th:text="${produto.descricao}"></span>
								</div>
							</div>
							<div class="panel-body padding-1">
								<div class="chart-holder" id="dashboard-line-1" style="height: 248px;">

									<div class="d-flex justify-content-center">
										<img class="card-img-top"
											th:src="@{/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}"
											style="height: 144px;width: 112px;align-self: center;" />
									</div>

									<div class="d-flex justify-content-center small text-warning mb-2">
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
									</div>

									<div class="d-flex justify-content-center">
										<span class="text-muted text-decoration-line-through"
											th:text="${#numbers.formatCurrency(produto.valorVenda + 1.9)}"></span>
										<span th:text="${#numbers.formatCurrency(produto.valorVenda)}"></span>
									</div>

									<div class="card-footer p-4 pt-0 border-top-0 bg-transparent"><br>
										<div class="text-center"><a class="btn btn-outline-dark mt-auto"
												th:href="@{/adicionarCarrinho/{id}(id=${produto.id})}">Comprar</a>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- END SALES & EVENTS BLOCK -->

					</div>

				</div>
			</div>
			<!-- END PAGE CONTENT WRAPPER -->
	</section>

</body>

</html>